<%- include('template/head', {tituloWeb: 'Página de Contacto'}) %>

<body>
    
    <%- include('template/header') %>

    <main class="main">
        <h1 class="page__title">Página de Contacto, viene de EJS</h1>
    </main>

    <%- include('template/footer') %>

</body>
</html>
