<footer class="footer">

  <P>Create by Jorge Luis Mendoza Mejia & Jose Ruiz Nuñez</P>

    <div class="footer__right">

        <img src="./img/generales/facebook.png" alt="#facebook"  class="footer__aredsocial">
        <img src="./img/generales/linkedin.png" alt="#whatsapp"  class="footer__aredsocial">
        <img src="./img/generales/twitter.png" alt="#twitter"  class="footer__aredsocial">
        <img src="./img/generales/Whatsapp.png" alt="#whatsapp"  class="footer__aredsocial">

    </div>

    <div class="footer__left">
      <div class="footer__links">
        <a class="footer__linksa" href="/index.html">Inicio</a>
        <a href="/alta.html" class="footer__linksa">Alta</a>
        <a href="/nosotros.html" class="footer__linksa">Nosotros</a>
        <a href="/contacto.html" class="footer__linksa">Contacto</a>
      </div>
    </div>

  </footer>   