<header class="header"> 
    <div class="header__link">
      <a href="/inicio" class="header__a">Inicio</a>
      <a href="/contacto" class="header__a">Contacto</a>
      <a href="/nosotros" class="header__a">Nosotros</a>
      <a href="/alta" class="header__a">Alta</a>
    </div>
</header>